@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  .insights-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .card p {
    font-size: 1em;
  }
  